
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link href="./css/admin/MessageBox.css" rel="stylesheet">
    <title>Document</title>
</head>

<body>

    <div class="modal-backdroup show"></div>
    <div class="modal fade show" style="display: block; background-color: rgba(0, 0, 0, 0.8) !important" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">THAY ĐỔI THÔNG TIN SINH VIEN</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>MSSV: </p>
                    <input type="text" style="height:2rem; padding: 0.5rem" class="content-p"  @bind="@mssv"/>
                    <p>Họ: </p>
                    <input type="text" style="height:2rem; padding: 0.5rem" class="content-p" @bind="@hoVaTenLot" />
                    <p>Tên: </p>
                    <input type="text" style="height:2rem; padding: 0.5rem" class="content-p" @bind="@tenSV" />
                    <p>Mã đề: </p>
                    <select @bind="@selected_ma_de" style="height:2rem; padding: 0.5rem">
                        @{
                            if(listMaDes != null){
                                foreach(var item in listMaDes){
                                    <option value="@item">@item</option>
                                }
                            }
                        }
                    </select>
                </div>
                <div class="modal-footer">
                    <button type="button" @onclick="onClickLuu" class="btn btn-success">Lưu</button>
                    <button type="button" @onclick="onClickThoat" class="btn btn-secondary">Thoát</button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>


