
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./css/admin/MessageBox.css" rel="stylesheet">
    <title>Document</title>
</head>

<body>

    <div class="modal-backdroup show"></div>
    <div class="modal fade show" style="display: block; background-color: rgba(0, 0, 0, 0.8) !important" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">BỔ SUNG SINH VIÊN VÀO CA THI</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Tên ca thi: </p>
                    <span class="content-p">@tenCaThi</span>
                    <p>Tên môn thi: </p>
                    <span class="content-p">@tenMonThi</span>
                    <p>Ngày thi: </p>
                    <span class="content-p">@ngayThi</span>
                    <p>Thời lượng thi: </p>
                    <span class="content-p">@thoiLuongThi</span>
                    <p>MSSV: </p>
                    <span><input type="text" @bind="@MSSV" @onkeydown="onKeyDownInput" /></span>
                    <p>Họ và lót: </p>
                    @{
                        if (is_existMSSV == false)
                        {
                            <span><input type="text" @bind="@hoTenLot" /></span>
                        }
                        else
                        {
                            <span class="content-p" style="color:red">@hoTenLot</span>
                        }
                    }
                    <p>Tên sinh viên: </p>
                    @{
                        if (is_existMSSV == false){
                            <span><input type="text" @bind="@tenSinhVien" /></span>
                        }
                        else{
                            <span class="content-p" style="color:red">@tenSinhVien</span>
                        }
                    }
                    @if(is_existMSSV == false){
                        <p>Lớp (có thể bỏ qua): </p>
                        <span><input type="text" @bind="@lop" /></span>
                        <p>Giới tính: </p>
                        <span><input class="radio-input" type="radio" value="" @onchange="onClickMale"/> (Chọn nếu nam)</span>
                    }
                    <p>Check: </p>
                    @{
                        if (is_existMSSV == true)
                        {
                            <p style="color: green">Đã tìm thấy trong CSDL</p>
                        }
                        else if(is_existMSSV == false)
                        {
                            <p style="color: red">Không tìm thấy trong CSDL</p>
                        }
                        else
                        {
                            <p>Vui lòng nhấn check</p>
                        }
                    }
                    <p style="color:orangered">
                        <small>
                            Lưu ý: Hãy chắc chắn rằng các mã đề hoán vị đã được tạo sẵn.
                        </small>
                    </p>
                </div>
                <div class="modal-footer">
                    @{
                        if (is_existMSSV == true)
                        {
                            <button type="button" style="opacity: 0.5" class="btn btn-info">Check MSSV</button>
                            <button type="button" @onclick="onClickLuu" class="btn btn-success">Lưu</button>
                        }
                        else
                        {
                            <button type="button" @onclick="handleCheck" class="btn btn-info">Check MSSV</button>
                            if(is_existMSSV == false){
                                <button type="button" @onclick="onClickTaoMoi" class="btn btn-danger">Tạo mới</button>
                            }
                            <button type="button" style="opacity: 0.5" class="btn btn-success">Lưu</button>
                        }
                    }
                    <button type="button" @onclick="onClickThoat" class="btn btn-secondary">Thoát</button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>


