@page "/result"
@attribute [Authorize]
@using Blazor.Extensions.Canvas
@using Blazor.Extensions.Canvas.Canvas2D
@inject ISnackbar Snackbar
@inject IDialogService Dialog

<PageTitle>Result</PageTitle>


<MudContainer MaxWidth="MaxWidth.Small" Class="d-flex justify-center align-center">
	<!-- Main Result -->
	<MudPaper Class="pa-4 mt-4" Elevation="4">
		<MudCardContent Class="d-flex justify-center">
			<MudImage Src="images/exam/Logo.svg" Width="200" />
		</MudCardContent>
		<MudGrid Style="margin-top: 3%; margin-left: 1%">
			<!-- Image Section -->
			<MudItem Xs="4" Sm="4" Class="show-result">
				<MudText Style="margin: 1rem;"><BECanvas Width="55" Height="40" @ref="CanvasReference"></BECanvas></MudText>
			</MudItem>

			<!-- Student Information -->
			<MudItem Xs="8" Sm="8">
				@if (ExamSession != null && MyData != null && Student != null && ExamSessionDetail != null && ExamSessionDetail.MaCaThiNavigation != null)
				{
					@if(IsLoading)
					{
						<h4>Thí sinh vui lòng chờ, hệ thống đang ghi nhận bài làm của thí sinh..</h4>
					}
					else
					{
						string? ten_mon_hoc = ExamSessionDetail.MaCaThiNavigation.MaChiTietDotThiNavigation.MaLopAoNavigation.MaMonHocNavigation?.TenMonHoc;
						<MudText Style="margin-bottom: 2%" Typo="Typo.subtitle2">Ca thi: @ExamSession.TenCaThi</MudText>
						<MudText Style="margin-bottom: 2%" Typo="Typo.subtitle2">Môn thi: @ten_mon_hoc</MudText>
						<MudText Style="margin-bottom: 2%" Typo="Typo.subtitle2">Mã đề: @ExamSessionDetail.MaDeThi</MudText>
						<MudText Style="margin-bottom: 2%" Typo="Typo.subtitle2">MSSV: @Student.MaSoSinhVien</MudText>
						<MudText Style="margin-bottom: 2%" Typo="Typo.subtitle2">Họ tên: @(Student.HoVaTenLot) @(Student.TenSinhVien)</MudText>
						<MudText Style="margin-bottom: 2%" Typo="Typo.subtitle2">Ngày thi: @CaThi.ThoiGianBatDau</MudText>
						<MudButton OnClick="OnClickLogoutAsync" Color="Color.Error" Variant="Variant.Filled" Style="margin-top: 2%">Đăng xuất</MudButton>
					}
				}
			</MudItem>
		</MudGrid>

		<!-- Exam Result -->
		@if (selectedAnswerResults != null)
		{
			<MudDivider DividerType="DividerType.Middle" Class="my-3" Style="background-color: black" />
			<MudText Typo="Typo.subtitle1" Class="mt-4">Chi tiết kết quả thi: @totalRightAnswer/@selectedAnswerResults.Count</MudText>
			@for (int index = 1; index <= selectedAnswerResults.Count; index++)
			{
				string thu_tu = index.ToString();
				MudBlazor.Color color = selectedAnswerResults[index - 1] == true ? Color.Success : (selectedAnswerResults[index - 1] == false ? Color.Error : Color.Dark);
				<MudChip Size="Size.Small" T="int" Color="@color">@thu_tu.ToString()</MudChip>
			}
		}
	</MudPaper>
</MudContainer>



<style>
	.mud-main-content {
		padding: 0;
	}
	.show-result {
		border: 1px solid;
		border-radius: 100%;
		align-self: center;
		padding: 1.5rem;
		text-align: center;
	}
</style>
<script>
	// Ngăn người dùng back trang web
	window.history.pushState(null, document.title, location.href);
	window.addEventListener('popstate', function (event) {
		history.pushState(null, document.title, location.href);
	});
</script>






