@page "/test"
@inject ISnackbar Snackbar
@inject IDialogService Dialog
@attribute [Authorize]

<PageTitle>Exam Page</PageTitle>


<MudPaper Elevation="4" Class="pa-4">
	<!-- Header Section -->


	<MudGrid Class="noselect">
		<MudItem xs="12" md="9">
			<MudPaper Class="pa-4" Style="border: 1px solid #ccc;">
				@if (CustomExams != null)
				{
					int current_parentGroupQuestion = -1;
					int current_groupQuestion = 0;

					foreach (var item in CustomExams)
					{
						//Hiển thị nội dung câu hỏi nhóm cha cấp 1 - chương phần
						if (current_parentGroupQuestion != item.MaNhomCha && !string.IsNullOrEmpty(item.NoiDungCauHoiNhomCha))
						{
							current_parentGroupQuestion = item.MaNhomCha;
							<MudText Typo="Typo.h6" GutterBottom="true" Style="text-transform: uppercase" Class="nhomCauHoiCha">
								<NoiDungFragment Content="@item.NoiDungCauHoiNhomCha.ToUpper()" IsParentContent="true" />
							</MudText>
						}

						//Hiển thị nội dung câu hỏi nhóm con cấp 2
						if (current_groupQuestion != item.MaNhom && !string.IsNullOrEmpty(item.NoiDungCauHoiNhom))
						{
							current_groupQuestion = item.MaNhom;

							// xử lí câu hỏi âm thanh
							if (item.KieuNoiDungCauHoiNhom == 2 && item.NoiDungCauHoiNhom.Contains("<audio") && AudioListeneds.ContainsKey(item.MaNhom))
							{
								<MudText Typo="Typo.subtitle1" GutterBottom="true">
									<b><NoiDungFragment Content="@AudioListeneds[item.MaNhom].AudioText" /></b>
								</MudText>
								<span>
									<br />
									<audio id="@item.MaNhom" controls controlsList="nodownload" @onplay="async () => await OnPlayAudioAsync(item, item.MaNhom)">
										<source src="@AudioListeneds[item.MaNhom].AudioUrl" />
									</audio>
									@((MarkupString)(item.GhiChu + ""))
								</span>
							}
							else if (item.KieuNoiDungCauHoiNhom != 2)
							{
								<MudText Typo="Typo.subtitle1" GutterBottom="true">
									<b><NoiDungFragment Content="@item.NoiDungCauHoiNhom" /></b>
								</MudText>
							}
						}

						//Hiển thị nội dung câu hỏi
						if (!string.IsNullOrEmpty(item.NoiDungCauHoi))
						{
							<MudText id=@($"question-{item.MaCauHoi}") Typo="Typo.body1" GutterBottom="true">
								<b>Câu hỏi @(item.ThuTuCauHoi): <NoiDungFragment Content="@item.NoiDungCauHoi" /></b>
							</MudText>
						}

						// Hiển thị nội dung câu trả lời
						@if (item.CauTraLois != null)
						{
							<MudRadioGroup T="int?" Class="mt-2" Style="padding-bottom: 10px" Value="SelectedAnswers[item.MaCauHoi].Item2" ValueChanged="async (value) => await OnClickAnswerAsync(item, value)">
								@foreach (var noidung in item.CauTraLois)
								{
									<MudItem xs="12" sm="6">
										<MudRadio T="int?" Value="noidung.Key"><NoiDungFragment Content="@noidung.Value"></NoiDungFragment></MudRadio>
									</MudItem>
								}
							</MudRadioGroup>
						}
					}
				}
			</MudPaper>
		</MudItem>

		<!-- Sidebar Info -->
		<MudItem xs="12" md="3" Style=" position: sticky; top: 0; overflow-y: auto; height: 100%">
			<MudPaper Style="text-align: center; border: 1px solid #ccc; margin-bottom: 15%;">
				<MudGrid>
					<MudItem xs="6" Style="align-content: center">
						@* <MudText Typo="Typo.h5" Style="color: #333; margin-right: 10%">⏰: <b class="time-clock">@DisplayTime</b></MudText> *@
						<Hutech.Exam.Client.Pages.Exam.Components.ClockComponent InitialSeconds="@CalculateTotalSeconds()" OnFinish="EndTimeSubmissionAsync"></Hutech.Exam.Client.Pages.Exam.Components.ClockComponent>
					</MudItem>
					<MudItem xs="6">
						<MudButton Style="margin: 5px" Variant="Variant.Filled" Color="Color.Success" Size="MudBlazor.Size.Large" OnClick="async () => await OnClickSubmitAsync()">Nộp Bài</MudButton>
					</MudItem>
				</MudGrid>
			</MudPaper>

			<MudPaper Class="pa-4" Style="text-align: center; border: 1px solid #ccc; margin-bottom: 15%;">
				<MudImage Src="images/exam/Ellipse 1.svg" Width="120" Class="mb-2" />
				<MudDivider Class="mb-2" />
				<MudText Typo="Typo.subtitle2"><b>Tên:</b> @Students?.HoVaTenLot @Students?.TenSinhVien</MudText>
				<MudText Typo="Typo.subtitle2"><b>Mã SV:</b> @Students?.MaSoSinhVien</MudText>
				<MudText Typo="Typo.subtitle2"><b>Môn thi:</b> @ExamSession?.MaChiTietDotThiNavigation?.MaLopAoNavigation.MaMonHocNavigation?.TenMonHoc</MudText>
				<MudText Typo="Typo.subtitle2"><b>Mã đề:</b> @ExamSessionDetail?.KyHieuDe</MudText>
			</MudPaper>
			<MudPaper Class="pa-4" Style="text-align: center; border: 1px solid #ccc; max-height: 450px; overflow-y: auto">
				<MudText Typo="Typo.subtitle2" Class="mb-2"><b>Danh sách câu hỏi</b></MudText>
				<MudGrid>
					@{
						foreach (var item in SelectedAnswers)
						{
							<MudItem xs="2" md="3" Style="padding-left: 15px">
								<MudButton Size="Size.Small" Variant="Variant.Filled" Color="(item.Value.Item2 != null) ? Color.Success : Color.Default" OnClick="async () => await ScrollToQuestionAsync(item.Key)">
									@item.Value.Item1
								</MudButton>
							</MudItem>
						}
					}
				</MudGrid>
			</MudPaper>
		</MudItem>
	</MudGrid>
</MudPaper>

<script src="js/exam.js" type="text/javascript"></script>

<style>
	.mud-main-content {
		padding: 0;
	}

	.nhomCauHoiCha {
		border: 1px solid;
		background-color: antiquewhite;
		border-radius: 5px;
		padding: 5px;
	}
	/*Chống bôi đen văn bản copy*/
	.noselect {
		-webkit-user-select: none; /* Safari */
		-moz-user-select: none; /* Firefox */
		-ms-user-select: none; /* IE10+/Edge */
		user-select: none; /* Standard */
	}
</style>

<script>
	window.focusWatcher = (function () {
		let visibilityChangeHandler;
		let blurHandler;
		let dotNetHelperRef;

		return {
			init: function (dotNetHelper) {
				dotNetHelperRef = dotNetHelper;

				visibilityChangeHandler = function () {
					if (document.hidden) {
						dotNetHelperRef.invokeMethodAsync('OnFocusLost');
					}
				};

				blurHandler = function () {
					dotNetHelperRef.invokeMethodAsync('OnFocusLost');
				};

				document.addEventListener('visibilitychange', visibilityChangeHandler);
				window.addEventListener('blur', blurHandler);
			},

			dispose: function () {
				if (visibilityChangeHandler) {
					document.removeEventListener('visibilitychange', visibilityChangeHandler);
				}
				if (blurHandler) {
					window.removeEventListener('blur', blurHandler);
				}
				if (dotNetHelperRef) {
					dotNetHelperRef.dispose();
				}

				// Dọn dẹp biến
				visibilityChangeHandler = null;
				blurHandler = null;
				dotNetHelperRef = null;
			}
		};
	})();

	// Lắng nghe mọi sự kiện audio đều phải phát từ đầu
	window.playAudioFromStart = (id) => {
		const audio = document.getElementById(id);
		if (audio) {
			audio.currentTime = 0;
			audio.play();
		}
	};
	// Khiến cho audio ngừng ko thể phát (không nên disable vì người nghe có thể bật lại từ inspect trang)
		window.stopAudio = (id) => {
		const audio = document.getElementById(id);
		if (audio) {
			audio.pause();         // Dừng phát
			audio.currentTime = 0; // Tua về đầu
		}
	};

	// Đổi màu khi thời gian dưới 1 phút
	window.changeColorTime = () => {
		const clockElement = document.getElementById("time-clock");
		clockElement.style.color = "red";
		clockElement.style.fontWeight = 600;
	};

	window.scrollToElement = (elementId) => {
		const el = document.getElementById(elementId);
		if (el) {
			el.scrollIntoView({ behavior: "smooth", block: "start" });
		}
	};

	// Chặn copy văn bản
	window.antiCopy = {
		enable: function () {
			// Chặn chuột phải
			document.addEventListener('contextmenu', e => e.preventDefault());

			// Chặn tổ hợp phím Ctrl+C, Ctrl+U, PrintScreen...
			document.addEventListener('keydown', function (e) {
				if ((e.ctrlKey && ['c', 'u', 's', 'x'].includes(e.key.toLowerCase())) ||
					e.key === 'PrintScreen') {
					e.preventDefault();
				}
			});

			// Chặn copy
			document.addEventListener('copy', function (e) {
				e.preventDefault();
				alert("Không được phép sao chép nội dung!");
			});
		}
	};
</script>
