@using Hutech.Exam.Shared.DTO
@using System.Text.Json
@using System.Text
@using System.Text.Json.Serialization
@using Hutech.Exam.Shared.DTO.Custom
@using Hutech.Exam.Shared.DTO.Request.CaThi
@inject ISnackbar Snackbar
@inject IDialogService Dialog

<MudDialog Style="max-height: auto; overflow: visible">
    <DialogContent>
        <MudGrid>
            <MudItem xs="4"><MudText>Tên Đợt thi:</MudText></MudItem>
            <MudItem xs="8"><MudText><span class="title-text">@TenDotThi</span></MudText></MudItem>

            <MudItem xs="4"><MudText>Môn thi:</MudText></MudItem>
            <MudItem xs="8"><MudText><span class="title-text">@TenMonThi</span></MudText></MudItem>

            <MudItem xs="4"><MudText>Phòng thi:</MudText></MudItem>
            <MudItem xs="8"><MudText><span class="title-text">@TenLopAo</span></MudText></MudItem>

            <MudItem xs="4"><MudText>Lần thi:</MudText></MudItem>
            <MudItem xs="8"><MudText><span class="title-text">@LanThi</span></MudText></MudItem>

            <MudItem xs="4" Style="align-content: center"><MudText>Mã đề:</MudText></MudItem>
            <MudItem xs="8">
                <MudSelect T="DeThiDto" Value="selectDeThi" Label="Đề thi" Required ValueChanged="(value) => OnChangeValueDeThi(value)">
                    @if (deThis != null)
                    {
                        foreach (var item in deThis)
                        {
                            <MudSelectItem Value="@item">[@item.MaDeThi] @item.TenDeThi</MudSelectItem>
                        }
                    }
                </MudSelect>
            </MudItem>
        </MudGrid>
        <MudText><i><small style="color: red; ">@ALERT_TITLE</small></i></MudText>
    </DialogContent>
    <DialogActions>
        <MudButton Variant="Variant.Filled" OnClick="OnClickThoat" Color="Color.Default">Thoát</MudButton>
        @if(!isSame)
        {
            <MudButton Variant="Variant.Filled" Color="Color.Success" OnClick="async () => await OnClickCapNhat()">Cập nhật</MudButton>
        }
        else
        {
            <MudButton Variant="Variant.Filled" Color="Color.Success" Disabled="true">Cập nhật</MudButton>
        }
    </DialogActions>
</MudDialog>
<style>
    .my-custom-class {
    backdrop-filter: blur(10px);
    }
</style>


@code{
    [CascadingParameter] private IMudDialogInstance? MudDialog { get; set; }
    [Inject] public HttpClient Http { get; set; } = default!;
    [Parameter] public int? MaChiTietDotThi { get; set; }
    [Parameter] public string? TenDotThi { get; set; }
    [Parameter] public string? TenLopAo { get; set; }
    [Parameter] public string? TenMonThi { get; set; }
    [Parameter] public int? LanThi { get; set; }
    [Parameter] public CaThiDto? CaThi { get; set; }

    private const string ALERT_TITLE = "Lưu ý: nếu các thí sinh trong ca thi đã được gắn đề, việc cập nhật đề thi lại cho ca thi sẽ xảy ra lỗi không mong muốn. Vui lòng reset toàn bộ đề thi của thí sinh về mặc định và cập nhật lại đề cho thí sinh.";
    private const string SUCCESS_UPDATE = "Cập nhật đề thi thành công";
    private const string FAIL_UPDATE = "Cập nhật đề thi thất bại";

    private DeThiDto? selectDeThi;
    private List<DeThiDto>? deThis;
    private bool isSame = true; // nếu người dùng không cập nhật đề mới

    private void OnClickThoat()
    {
        MudDialog?.Cancel();
    }
    protected override async Task OnInitializedAsync()
    {
        await HandleInput();
        await base.OnInitializedAsync();
    }
    private async Task HandleInput()
    {
        deThis = await GetAllDeThiAPI();
        // thêm 1 trường null
        deThis?.Add(new DeThiDto() { MaDeThi = -1, TenDeThi = "Chưa có mã đề" });
        if(CaThi != null && CaThi.MaDeThi == -1){
            selectDeThi = deThis?.FirstOrDefault(x => x.MaDeThi == -1);
        }
        else{
            selectDeThi = await SelectOneDeThiAPI(CaThi?.MaDeThi ?? -1);
        }

    }
    private void OnChangeValueDeThi(DeThiDto deThi)
    {
        selectDeThi = deThi;
        isSame = (CaThi != null && deThi.MaDeThi == CaThi.MaDeThi);
    }

    private async Task OnClickCapNhat()
    {
        if(CaThi != null && MaChiTietDotThi != null && selectDeThi != null){
            var result = await UpdateCaThiAPI(CaThi.MaCaThi, new CaThiUpdateRequest { 
                TenCaThi = CaThi.TenCaThi ?? String.Empty, 
                MaChiTietDotThi = (int)MaChiTietDotThi, 
                ThoiGianBatDau = CaThi.ThoiGianBatDau, 
                MaDeThi = selectDeThi.MaDeThi, 
                ThoiGianThi = CaThi.ThoiGianThi
            });

            if(result){
                Snackbar.Add(SUCCESS_UPDATE, Severity.Success);
                MudDialog?.Close(DialogResult.Ok(CaThi.MaCaThi));
            }
            else
            {
                Snackbar.Add(FAIL_UPDATE, Severity.Error);
            }
        }
    }

    private async Task<List<DeThiDto>?> GetAllDeThiAPI()
    {
        var response = await Http.GetAsync("api/dethis");
        if (response.IsSuccessStatusCode)
        {
            return await response.Content.ReadFromJsonAsync<List<DeThiDto>?>();
        }
        return null;
    }
    private async Task<bool> UpdateCaThiAPI(int ma_ca_thi, CaThiUpdateRequest caThi)
    {
        var json = JsonSerializer.Serialize(caThi);
        var response = await Http.PutAsync($"api/cathis/{ma_ca_thi}", new StringContent(json, Encoding.UTF8, "application/json"));
        return response.IsSuccessStatusCode;
    }
    private async Task<DeThiDto?> SelectOneDeThiAPI(int ma_de_thi)
    {
        var response = await Http.GetAsync($"api/dethis/{ma_de_thi}");
        if (response.IsSuccessStatusCode)
        {
            return await response.Content.ReadFromJsonAsync<DeThiDto?>();
        }
        return null;
    }
    private CustomCaThi CreateCaThi(string ten_ca_thi, int ma_chi_tiet_dot_thi, DateTime thoi_gian_bat_dau, int? ma_de_hv, int thoi_luong_thi)
    {
        //(caThi.TenCaThi ?? "", caThi.MaChiTietDotThi, caThi.ThoiGianBatDau, caThi.MaDeThi, caThi.ThoiGianThi);
        return new CustomCaThi
            {
                MaCaThi = CaThi?.MaCaThi ?? -1,
                TenCaThi = ten_ca_thi,
                MaChiTietDotThi = ma_chi_tiet_dot_thi,
                ThoiGianBatDau = thoi_gian_bat_dau,
                MaDeThi = ma_de_hv ?? -1,
                ThoiGianThi = thoi_luong_thi,
            };
    }
}
