@page "/info"
@implements IDisposable
@inject ISnackbar Snackbar
@inject IDialogService Dialog
@attribute [Authorize]

<link href="./css/info/info.css" rel="stylesheet" />
<title>Information</title>
<!------ Include the above in your HEAD tag ---------->

@* <div class="wrapper fadeInDown">
    <div id="formContent">
        <header>
            <div class="header">
                <img class="logohead" src="images/exam/Logo.svg">
                <div class="current-time"></div>
                <!--code time-->

            </div>
        </header>

        <div class="component-thong-tin">
            <div class="overlap">
                <img class="logo" src="images/exam/Logo.svg">

                <img class="avatar" src="images/exam/ava.jpg">
                @if(sinhVien != null)
                {
                    <div class="student-id">
                        <p class="id" type="text" name="student-id">Mã số sinh viên: @sinhVien.MaSoSinhVien</p>
                    </div>

                    <div class="student-name">
                        <p class="name" type="text" name="Password" >Họ và tên: @sinhVien.HoVaTenLot @sinhVien.TenSinhVien</p>
                    </div>
                    <div class="student-email">
                        <p class="email" type="text" name="ClassName">Email: @sinhVien.Email</p>
                    </div>
                    <div class="time-now">
                        <p class="time" type="text" name="ClassName">Thời gian hiện tại: @displayTime</p>
                    </div>
                }
                <button class="button-sign-out" @onclick="onClickDangXuat">Đăng xuất</button>

                <hr class="space">
                @{
                    if (chiTietCaThis != null && chiTietCaThis[0] != null && chiTietCaThis[0].MaCaThiNavigation != null)
                    {
                        <div class="thong-bao">
                            <label class="radio">Sinh viên hiện tại đang có @chiTietCaThis.Count ca thi. Vui lòng chọn ca thi</label>
                            <br />
                            @foreach(var item in chiTietCaThis)
                            {
                                <input class="radio-input" type="radio" name="#" value="@selectoption_cathi" @onchange="RadioChanged" @onclick="() => onClickCaThi(item)" />
                                monHoc = item.MaCaThiNavigation?.MaChiTietDotThiNavigation?.MaLopAoNavigation.MaMonHocNavigation;
                                caThi = item.MaCaThiNavigation;
                                <label class="label_monthi">@monHoc?.TenMonHoc - @caThi?.TenCaThi</label>
                                <br/>
                            }
                        </div>
                        <button class="button-start" @onclick="OnClickBatDauThi">Bắt đầu thi</button>
                    }
                }
            </div>
        </div>
    </div>
</div> *@

<MudContainer MaxWidth="MaxWidth.Small" Class="d-flex justify-center align-center" Style="height: 100vh;">
    <MudCard Class="pa-6" Elevation="21" Style="margin: auto; text-align: center; background-color: #eaeaea; width: 100%">
        <!-- Logo -->
        <MudCardContent Class="d-flex justify-center">
            <MudImage Src="images/exam/Logo.svg" Width="200" />
        </MudCardContent>
        <MudGrid>
            <MudItem xs="4">
                <MudCardHeader>
                    <MudImage Src="images/exam/ava.jpg" Width="120" Class="avatar" />
                </MudCardHeader>
            </MudItem>
            <MudItem xs="8">
                <MudCardContent Style="padding-bottom:0">
                    @if (sinhVien != null)
                    {
                        <MudText Style="margin-bottom: 2%" Align="Align.Left" Typo="Typo.subtitle1">Mã số sinh viên: @sinhVien.MaSoSinhVien</MudText>
                        <MudText Style="margin-bottom: 2%" Align="Align.Left" Typo="Typo.subtitle1">Họ và tên: @sinhVien.HoVaTenLot @sinhVien.TenSinhVien</MudText>
                        <MudText Style="margin-bottom: 2%" Align="Align.Left" Typo="Typo.subtitle1">Email: @sinhVien.Email</MudText>
                        <MudText Style="margin-bottom: 2%" Align="Align.Left" Typo="Typo.subtitle1">Thời gian hiện tại: @displayTime</MudText>
                    }
                </MudCardContent>
            </MudItem>
        </MudGrid>
        <MudCardActions Style="display: flex; justify-content: center;">
            <MudButton Variant="Variant.Filled" Size="Size.Small" StartIcon="@Icons.Material.Filled.Logout" Color="Color.Error" OnClick="onClickDangXuat">Đăng xuất</MudButton>
        </MudCardActions>

        @if (chiTietCaThis != null && chiTietCaThis.Count > 0 && chiTietCaThis[0]?.MaCaThiNavigation != null)
        {
            <MudDivider DividerType="DividerType.Middle" Class="my-3" Style="background-color: black" />
            <MudCardContent Style="padding: 0">
                <MudText Style="font-weight:bold" Typo="Typo.subtitle1">Sinh viên hiện tại đang có @chiTietCaThis.Count ca thi. Vui lòng chọn ca thi</MudText>
                <MudRadioGroup @bind-Value="selectedCTCaThi">
                    @foreach (var item in chiTietCaThis)
                    {
                        monHoc = item.MaCaThiNavigation?.MaChiTietDotThiNavigation?.MaLopAoNavigation?.MaMonHocNavigation;
                        caThi = item.MaCaThiNavigation;
                        <MudRadio Size="Size.Small" Value="@item">@monHoc?.TenMonHoc - @caThi?.TenCaThi</MudRadio>
                    }
                </MudRadioGroup>
            </MudCardContent>
            <MudCardActions Style="display: flex; justify-content: center;">
                <MudButton Size="Size.Small" StartIcon="@Icons.Material.Filled.Article" Variant="Variant.Filled" Color="Color.Success" OnClick="OnClickBatDauThi">Bắt đầu thi</MudButton>
            </MudCardActions>
        }
    </MudCard>
</MudContainer>